h2 {
    color: orange;
}
h1 {
    color: blue;
}

section {
    background-color: aqua;
    width: 250px;
    box-sizing: border-box;
    padding: 20px;
    border: 20px solid red;
    opacity: 0;
    transition: opacity 1s;
}
section:hover {
    opacity: 1;
}

/* Display */
h1, p {
    display: block;
}

div p {
    background-color: #1b88c2;
    padding: 30px;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
}

/* Selectores */
.resaltado {
    color: green;
}
#primero {
    color: red;
}
p, em  {
    text-decoration: underline;
}
header nav a {
    text-decoration: underline;
}

/* Unidades de medida */
div {
    border: 1px solid blue;
    height: 50vmin;
    width: 50vmin;
}
div p {
    border: 1px solid red;
    width: 50%;
    box-sizing: border-box;
    margin-left: -50px;
}
p {
    font-size: 20px;
    border: 2px dotted orange;
    margin-right: 0;
    padding: 20px 80px;
}
strong.resaltado {
    font-size: 2rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    /* word-spacing: 20px;
    letter-spacing: 5px; */
}
